In [2]:
import pandas as pd
import os

df =pd.read_csv('../data/raw_census.csv')

In [3]:
df.head(2)

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [4]:
print(df.columns.tolist())

['age', ' workclass', ' fnlgt', ' education', ' education-num', ' marital-status', ' occupation', ' relationship', ' race', ' sex', ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country', ' salary']

In [5]:
for col in df.select_dtypes(include='object').columns:
    if df[col].str.contains(r'^\s+|\s+$').any():
        print(f"Column '{col}' has values with leading/trailing spaces")

Column ' workclass' has values with leading/trailing spaces
Column ' education' has values with leading/trailing spaces
Column ' marital-status' has values with leading/trailing spaces
Column ' occupation' has values with leading/trailing spaces
Column ' relationship' has values with leading/trailing spaces
Column ' race' has values with leading/trailing spaces
Column ' sex' has values with leading/trailing spaces
Column ' native-country' has values with leading/trailing spaces
Column ' salary' has values with leading/trailing spaces

In [6]:
df.columns = df.columns.str.strip()

In [7]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

/tmp/ipykernel_17233/242626680.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [8]:
df.to_csv('../data/census.csv', index=False)